<div class="container ">
    <h2 class="contact-header my-3">{{ 'CONTACT.TITLE' | translate}}</h2>
    <hr>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 contact-details">
            <h3 class="my-2">{{ 'CONTACT.How_to_find_us' | translate}}</h3>
            <div class="details">
            <h4>{{ 'CONTACT.Address' | translate}}</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
            </div>
            <div class="details">
            <h4>{{ 'CONTACT.Phone' | translate}}</h4>
            <p> 02243 66634</p>
             <p>02243 66634</p>
            </div>
             <div class="details">
            <h4>{{ 'CONTACT.Email' | translate}}</h4>
            <p>Lorem.ipdo@yaho.com</p>
             <p>Lorem.ipdo@yaho.com</p>
            </div>

        </div>
         <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 contact-form">
             <h3 class="my-2">{{ 'CONTACT.get_in_touch' | translate}}</h3>
             <form>
               <div class="form-group">
                 <label for="exampleFormControlInput1">{{ 'CONTACT.form_name' | translate}}</label>
                 <input type="text" class="form-control" id="" placeholder="{{ 'CONTACT.form_name_ex' | translate}}">
               </div>
               <div class="form-group">
                 <label for="exampleInputPassword1">{{ 'CONTACT.form_email' | translate}}</label>
                 <input type="email" class="form-control" placeholder="{{ 'CONTACT.form_email_ex' | translate}}">
               </div>
               <div class="form-group">
                 <label for="exampleFormControlTextarea1">{{ 'CONTACT.form_message' | translate}}</label>
                 <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
               </div>
               <div class="form-group">
                   <button class="btn submit" type="submit">{{ 'CONTACT.form_btn' | translate}}</button>
               </div>
             </form>

         </div>
    </div>
</div>