.nav-header {
  .navbar-brand {
    font-size: 2.5rem;
    color: #191616;
    font-weight: bold;
    .bolder-o{
      font-weight: 700;
    }
    .bold-o{
      font-weight: initial;
    }
  }

  .form-inline {
    input {
      border-radius: 0;
    }
    .btn {
      background-color: #585454;
      color: #ffff;
      border-radius: 0;
      font-weight: 500;
      padding: 0.4rem 1.5rem;
    }
  }
}
.navbar-toggler-icon {
  color: #fff;
  font-weight: 700;
}
.navigation {
  background-color: #191616;
  .navbar-nav {
    .nav-item {
      margin: 0 15px 0 0;
      .nav-link {
        color: #fff;
        span{
          background-color: #afacac;
          padding: 0px 6px 0px 6px;
          border-radius: 50%;
          font-size: 13px;
          font-weight: 500;
        }
        
      }
    }
    .fa-facebook {
      font-size: 17px;
      color: #000000;
      background-color: #e2dede;
      padding: 6px 9px 6px 9px;
      border-radius: 50%;
    }
  }
}

.left-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .side-navbar {
    list-style: none;
    padding: 0.5rem 0 0.5rem;

    li {
      padding: 0.8rem;
    }
  }
}

.right-div {
  .product-content {
    padding: 0.4rem;

    p {
      margin-bottom: 10px;
      margin-top: 6px;
    }
  }

  .cart-btn {
    width: 100%;
    text-align: center;
    color: #ffff;
    background-color: #585454;
    font-weight: 700;
    border-radius: 0;
  }
}